# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Turbo
turbo.json
**/.turbo
**/tfplan

# Environment
**/.env
**/.tfvars

# Terraform locals
**/.terraform
**/.terraform.lock.hcl
