# steps: run terraform
pr: none

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - devops/pipelines/server/deployment.yml
      - devops/terraform/server/*
      - apps/server/*

variables:
  - group: 'server-vars'
  - name: pnpm_config_cache
    value: $(Pipeline.Workspace)/.pnpm-store

stages:
  - stage: buildProject
    displayName: Build Project
    jobs:
      - job: PNPM
        steps:
          - task: Cache@2
            inputs:
              key: 'pnpm | "$(Agent.OS)" | pnpm-lock.yaml'
              path: $(pnpm_config_cache)
            displayName: Cache pnpm

          - script: |
              npm install --global corepack@latest
              corepack enable
              corepack prepare pnpm@latest-10 --activate
              pnpm config set store-dir $(pnpm_config_cache)
            displayName: 'Setup pnpm'
          - script: |
              pnpm install
              
              pnpm build --filter=@amulek/core
            displayName: 'pnpm install and build'
          - task: ArchiveFiles@2
            displayName: Zip App
            inputs:
              rootFolderOrFile: '$(System.DefaultWorkingDirectory)/apps/server/dist'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(System.DefaultWorkingDirectory)/apps/server/server.zip'
              replaceExistingArchive: true
          - task: CopyFiles@2
            displayName: Stage App
            inputs:
              contents: '$(System.DefaultWorkingDirectory)/apps/server/server.zip'
              targetFolder: '$(System.DefaultWorkingDirectory)/server'
          - task: PublishBuildArtifacts@1
            displayName: Publish Artifacts
            inputs:
              pathToPublish: '$(System.DefaultWorkingDirectory)/server'
              artifactName: 'server_drop'
  - stage: 'AWS_Deploy'
    jobs:
      - job: 'Deploy'
        steps:
          - task: AWSShellScript@1
            displayName: 'Deploy Server to AWS'
            inputs:
              awsCredentials: AWSServiceConnection
              regionName: us-west-2
              failOnStandardError: false
              scriptType: inline
              inlineScript: |
                echo "ECHO"
                aws sts get-caller-identity
                
                sudo apt-get update && sudo apt-get install -y gnupg software-properties-common
                
                wget -O- https://apt.releases.hashicorp.com/gpg | \
                gpg --dearmor | \
                sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg > /dev/null
                
                echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
                
                sudo apt-get update
                
                sudo apt-get -y install terraform
                
                cd $(System.DefaultWorkingDirectory)/devops/terraform/cloudfront
                
                terraform init -input=false
                
                terraform plan -out=tfplan -input=false -var 'ALT_FRONTEND_URL=$(ALT_FRONTEND_URL)' \
                -var 'API_KEY=$(API_KEY)' -var 'APP_PASSWORD=$(APP_PASSWORD)' -var 'SENDER_EMAIL=$(SENDER_EMAIL)' \
                -var 'MESSAGE_RECIPIENT_EMAIL=$(MESSAGE_RECIPIENT_EMAIL)' -var 'FRONTEND_URL=$(FRONTEND_URL)' \
                -var 'ALT_FRONTEND_URL=$(ALT_FRONTEND_URL)' -var 'WORKING_DIR=$(System.DefaultWorkingDirectory)'
                
                terraform apply -input=false tfplan
