# steps: run terraform
variables:
  - group: 'cloudfront-vars'

stages:
  - stage: 'AWS_Deploy'
    jobs:
    - job: 'Deploy'
      steps:
        - task: AWSShellScript@1
          displayName: 'Do nothing'
          inputs:
            awsCredentials: AwsServiceConnection
            regionName: us-west-2
            failOnStandardError: true
            scriptSource: inlineScript
            inline_script: |
              echo "ECHO"
              aws sts get-caller-identity
