# steps: run terraform
variables:
  - group: 'cloudfront-vars'

stages:
  stage: 'AWS_Deploy'
  jobs:
    job: 'Deploy'
    steps:
      task: AWSShellScript@1
      inline_script: |
        echo "ECHO"
        aws sts get-caller-identity
